body {
  margin: 0;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF8F6;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
 
}

code {
  font-family: 'Raleway'
}
