.container{
    display: flex;
    background-image: linear-gradient(to bottom right, #C8CBF0, #FCFAF8);
    border-radius: 10px;
    padding: 1rem;
   

    .data {
        display: flex;
        flex-direction: column;
        margin-right: 4rem;
       

        .icons{
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            background-color: #232EC1;
            margin-bottom: 1.5rem;    
        }
        .numbers{
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        .description{
            font-size: 14px;
            font-weight: 500;
            color:#6B6C70;
            

        }
        &:last-child{
            margin-right: 0px;
        }
    

    }
    
}